
body.light{
  background-color: #fff;
  color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light .card{
  background-color: #fff;
  color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark{
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .card{
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.card {
  margin-top:20px;
  width: auto;
  margin-left: 70px;
  margin-right: 70px;
}

body.light #nav{
  background-color: #fff;
  color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark #nav{
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.light input[type="email"] {
  background-color: #fff;
  color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease; 
  border: 1px solid #1d1d1d ;
  
}
body.dark input[type="email"] {
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease; 
  border: 1px solid #fff;
}

body.light input[type="email"] ::placeholder {
  color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease; 
  opacity: 0.7;
  font-weight: 300;

}
body.dark input[type="email"]::placeholder {
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  opacity:0.7;
  font-weight: 300;
}

.App-link {
  color: #61dafb;
  align-items: center;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input.input-success {

  border: 1px solid #28a745;
  /* cor da borda */
  background-color: #dff0d8;
  /* cor de fundo */
  color: #28a745;
  /* cor do texto */

}

input.input-danger {
  border: 1px solid #dc3545;
  /* cor da borda */
  background-color: #f8d7da;
  /* cor de fundo */
  color: #dc3545;
  /* cor do texto */
}

section#paginaIncial.dark {
  padding: 20px 50px;
  background-color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease;
}
section#paginaInicial.light {
  padding: 20px 50px;
  background-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

//Acesso Negado ('event-schedule')
body.dark .acesso-negado {
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-bottom: 15px;
}
body.light .acesso-negado {
  background-color: #fff;
  color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-bottom: 15px;
}
body.dark .acesso-negado .card-header {
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.light .acesso-negado .card-header {
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark .acesso-negado .card-body {
  background-color: #1d1d1d;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top:10px; 
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.10) !important;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5) !important; 
}
body.light .acesso-negado .card-body {
  background-color: #fff;
  color: #1d1d1d;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top:10px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.10) !important;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5) !important; 
}

//Organizer Button

